body {
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgb(203, 237, 250);
}

.searchForm {
	display: block;
	background-color: rgb(76, 94, 153);
	max-width: 1000px;
    padding: 50px;
    margin: auto;
    width: 100%;
    border: 3px solid black;
   
 }



 #searchHeader {
 	text-align: center;
 	color: white !important;
 	margin: auto;


 }

 
#statusDescription {
  color: white !important;
  margin: auto;
}

#typeDescription {
  color: white !important;
  margin: auto;
  padding: 10px;
}


 .radio {
  color: white !important;
  margin: auto;
 }

 #searchTypeLabel {
 	color: white !important;
 }

  #searchStatusLabel {
 	color: white !important;
 	font-size: 100px !important;;
 }
 
 .glyphicon {
    font-size: 50px;
}
 
 



 

}