body {
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgb(203, 237, 250);
}

.searchForm {
	background-color: rgb(76, 94, 153);
	max-width: 900px;
    padding: 50px;
    margin: 0 auto;

}

 #searchHeader {
 	text-align: center;
 	color: white !important;


 }

 
#statusDescription {
  color: white !important;
}

#typeDescription {
	 color: white !important;
}


 .radio {
 	color: white !important;
 }

 #searchTypeLabel {
 	color: white !important;
 }

  #searchStatusLabel {
 	color: white !important;
 }



 

}